{:api/fn  #profile {:aws  bbotiscaf.impl.api/request
                    :test bbotiscaf.impl.e2e/request}

 :db/conn #profile {:aws  "/mnt/efs/dtlv"
                    :test nil}

 :bot/default-language-code :en

 :bot/roles {}

 :logging/level :info

 :project/config {}}
