{:api/fn  #profile {:aws  bbotiscaf.impl.api/request
                    :test bbotiscaf.impl.e2e/request}

 :db/conn #profile {:aws  "/mnt/efs/dtlv"
                    :test #join ["/tmp/bbotiscaf-test-dtlv/" #env BBOTISCAF_TEST_UUID]}}
