{
  "QueueUrl": ${aws_sqs_queue.lambda_queue-{{lambda-name}}[0].url},
  "MessageBody": $input.body,
  "MessageGroupId": "ID"
}

#*
#set($root = $input.body('$'))
{
  "QueueUrl": ,
  "MessageBody": $input.body,
  "MessageGroupId": 
#if($root.message != null && $root.message.from != null)$root.message.from.id
#elseif($root.callback_query != null && $root.callback_query.from != null)$root.callback_query.from.id
#elseif($root.action != null)"action"
#else"unknown"
#end
}
*#
